In [ ]:
#Python strings 
#what are python strings 

#Python strings are a set of unicode characters

     #Ascii                 vs     Unicode

#1 earlier languages used       1 Python uses Unicode 
#  ascii character              charcter

#2 holds 128 character          2 holds 14300 character

#3 English A , B                3 designed to support
# Digits 1 , 2                  all ex , emoji ,symbols
# Control and special
# characters

#4 Ecncoding Size                4 Variable sizes , UTF-8,
# ( 7 char per Bits )            if , 32.1 to 4 Bytes#
#                                Per Characters

#5 Used for Basic                5 Universally accepted
# Text representation            for supporting multiple
# in English                     languages and symbols

In [ ]:

# 1 Creating Strings

#single quotres ' '
#doble quotes " "
#triple quoptes '''
#                    '''

In [5]:
# 2 Accessing Strings / Accepting Strings    [ 2 ]

#    12345678910     POSITIVE INDEXING
s = "MOVE CROSS"
#   -10       -1     NEGATIVE INDEXING

print(s[0])          # M

print(s[-1])         # S

M
M

In [23]:
# 3 Accesing Strings / Slicing              [ 5 ]

#    12345678910     POSITIVE INDEXING
s = "MOVE CROSS"
#   -10       -1     NEGATIVE INDEXING

s[ : ]               # 'MOVE CROSS'

s[0 :  ]             # 'MOVE CROSS'

s[0 :-1]             # 'MOVE CROS'


# step-size

s[ 0 : -1 : 2 ]      #'MV RS'

#reverse string 

s[ : : -1]           #'SSORC EVOM'

'SSORC EVOM'

In [76]:
#Editing and Deleting

#    12345678910     POSITIVE INDEXING
s = "MOVE CROSS"
#   -10       -1     NEGATIVE INDEXING

# s['M'] =  m or 'm'   #Not work/error
# s[ 0 ] =  m or 'm'   #Immutabliity

#Strings are immutable and cannot be changed once created

#soluion you can del whole string

#del

del(s)
print(s)

NameError: name 's' is not defined

In [ ]:
#operations on strings

# 1. Arithmetic Operations       [ + , * ]
# 2. Relational Operations       [ > , < , <= , >= , == , != ]
# 3. LogicL Operations           [ AND , OR , NOT ]
# 4. Loops on Strings            for i in i
# 5. Membership operations       [ IN , NOT IN ]

In [42]:
# 1. ARITHMETIC OPERATIONS

a = 'Price'
b = 'StopLoss'

c = a * 3  #[ + , * ]

print( c )

PricePricePrice

In [50]:
# 2. RELATIONAL OPERATIONS
#It is Comparing as LEXIOGRAPHICALLY 
#(uses ASCII standard)

a = price
b = StopLoss

c = a => b  #[ > , < , <= , >= , == , != ]

print(c)

True

In [64]:
#LOGICAL OPERATIOS

#logical operators -> True        False
                       |            |
#                   'anything'    "   "
#                            (gives last value)

a = 'price'
b = 'StopLoss'

c = a or b

c = a and b

not a        #[ AND , OR , NOT ]

False

In [68]:
#LOOPS ON STRINGS 

a = 'Price'

for i in a:
 print('stoploss')

#or

 print(i)

stoploss
P
stoploss
r
stoploss
i
stoploss
c
stoploss
e

In [75]:
#MEMBERSHIP OPERATIONS

a = 'price'

c = 'P' in a

print(c)

False

In [87]:
#COMMON STRING FUNCTIONS 
#THIS FUNCTIONS WORKS ON STRINGS . LIST , DICTIONARIES

#visit this ascii standard chart to understand better
#https://www.asciitable.com/

# len()
# min()
# max()
# sorted()

s1 = 'singapore'
s2 = 'india'

f = s1 + " " + s2

len(f)     # 15
#min(f)    # ' ' 
#max(f)    # s
#sorted(f) # [' ', 'a', 'a', 'd', 'e', 'g', 'i', 'i', 'i', 'n', 'n', 'o', 'p', 'r', 's']

15

In [103]:

#Capitalize()
#Title()
#Upper()
#lower()
#Swapcase()

s1 = 'singapore'
s2 = 'india'

f = s1 + " " + s2

#capitalize first word
f.capitalize()     #'Singapore india'

#capitalize first char of each word
f.title()          #'Singapore India'


f.upper()          #'SINGAPORE INDIA'

f.lower()          #'singapore india'

f.swapcase()       #'SINGAPORE INDIA'

'SINGAPORE INDIA'

In [113]:

#count
#find
#index

s1 = 'singapore'
s2 = 'india'

f = s1 + " " + s2
f

#check how many i comes in string
f.count('i')       #3

#find gives index of string
#if existing -> index position 
#if not existing -> returns -1
f.find('I')     #-1
f.find('g')     # 3

f.index('i')    # 1
#f.index('I')    #error

ValueError: substring not found

In [117]:

#endswith
#startswith

s1 = 'singapore'
s2 = 'india'

f = s1 + " " + s2

f.endswith('a')   # True
f.startswith('s') # True

True

In [122]:

#format

#endswith
#startswith

s1 = 'singapore'
s2 = 'india'

f = s1 + " " + s2

print("hello world im bhavik and im from {1} and curently working in {0} ".format(s1,s2))

hello world im bhavik and im from india and curently working in singapore

In [126]:

#isalnum
#isalpha
#isdigit
#isidentifier

s1 = 'singapore123'
s2 = 'india'
s3 = '123'

f = s1 + " " + s2 + " " + s3

s1.isalnum()   #true

s2.isalpha()   #true

s3.isdigit()   #true

True

In [130]:

#split
#join

s1 = 'singapore123'
s2 = 'india'
s3 = '123'

f = s1 + " " + s2 + " " + s3

f.split()      # ['singapore123', 'india', '123']

f.split("i")   # ['s', 'ngapore123 ', 'nd', 'a 123']

"".join(['s', 'ngapore123 ', 'nd', 'a 123'])  #'sngapore123 nda 123'

'sngapore123 nda 123'

In [133]:
#Replace()

s1 = 'singapore123'
s2 = 'india'
s3 = '123'

f = s1 + " " + s2 + " " + s3
f
f.replace("123","are really close friends")

'singaporeare really close friends india are really close friends'

In [137]:
#strip

s1 = '   singapore123    '
s2 = '   india   '
s3 = '            123    '

f = s1.strip() + " " + s2.strip() + " " + s3.strip()
f

'singapore123 india 123'