In [ ]:
#python seta & dictionaries

# what are sets?
# A sets is an unordered collection of items. Every set element is unique ( no duplicates )
# and must be immutable cannot be changed

# However , a set can itself be mutable . we can add or remove items

# Sets can also be used to perform 
# Mathematical set operations like union,
# intersection , symmentric difference etc.

# characteristics

# *unordered
# *mutable
# *No duplicates
# *Can't contain mutable data types

In [10]:
# Sets{} -> curly braces

#for instance :
# a = { "AAPL" , "GOOGL" , "TSLA" }
# b = { "TSLA" , "AMZN" , "MSFT" }

# sets do not contain DUPLICATES if there are duplicates 
# sets contain ignores them 

#1. union
# u = { "AAPL" , "GOOGL" , "TSLA" , "AMZN" , "MSFT" }
#         \                 \  \               \
#          -------------------------------------
#                set a             set b

#union is a combinations of both the sets as it ignores duplicate



#2. Intersection 

# i = { "TSLA" }



#3. Difference

# a - b = { "AMZN" , "GOGL" }
# b - a = { "AMZN" , "MSFT" }



#4. sementric difference ( ignore the common elements with remaining elements ) 

# a ^ b = { "AAPL" , "GOGL" , "AMZN" , "MSFT" }

In [ ]:

#1. IsDisjoint = "T"  # False

#2. IsSuperset = 
# a = { "AMZN" , "GOGL" }
# b = { "AMZN" , "MSFT" ,"APPL" }



#3. IsSuperset 
#b is a = T


#4. Is Unique
#  b is unique = False
#          |
#  If duplicate is not working

In [18]:
# hands on lab

#How to Create Sets ?
#empty

s1 = set()
s1
print(type(s1))


# 1D & 2D
s1 = { "AMZN" , "MSFT" ,"APPL" }
print(s1)


#note : - inside of set you cannot have a set or list you have tuple {a , b ,(c)}
#          set  =   { , , []}  - list - error
#          set  =   { , , {}}  - set  - error
s2 = { "AMZN" , "MSFT" ,"APPL" , ( "AMZN" , "GOGL" )}   #hetrogeneous 
s2    # {('AMZN', 'GOGL'), 'AMZN', 'APPL', 'MSFT'}

#as you can see output is unordered so tuples came first it completely depends on hashing


# String type conversion
s3 = set("AAPL")      #{'A', 'L', 'P'} #no duplicates & splitted
s3

<class 'set'>
{'AMZN', 'MSFT', 'APPL'}

{'A', 'L', 'P'}

In [26]:
# Adding Items

#adding   
# add()is similar to append()

t2 = { 1 , "BTC" , 1.5 , True }

t2.add("ETH")
t2

#update() is adding multiple values()

t2.update(["ETH" , "AAPL"])
t2

{1, 1.5, 'AAPL', 'BTC', 'ETH'}

In [34]:

#Deleting Items

t2 = { 1 , "BTC" , 1.5 , True }

#del(t2)      #you can delete whole set
#t2


# Discard items / Remove Items
# note : both methods perform same but discard dosent give you error

# discard()
# t2.discard(50)

t2.discard("BTC")

t2

# remove()
# t2.remove(50)  #error

t2.remove(1.5)

t2

{1}

In [47]:

#Set Opeartion

s1 = { "AMZN" , "MSFT" ,"APPL" }
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

# union( | )
# s1 | s2       # {'AMZN', 'APPL', 'GOGL', 'MSFT', 'TSLA'}

# intersection ( & )
# s1 & s2       # {'AMZN', 'APPL', 'MSFT'}

# difference ( - )
s1 - s2         # set()
s2 - s1         # {'GOGL', 'TSLA'}

# symentric difference
s1 ^ s2         # {'GOGL', 'TSLA'}

# membership Test
"APPL" not in s1  # False 
#if i made a spelling mistake "AAPEL"  #True

# Iteration
for i in s1:
  print(i)

AMZN
MSFT
APPL

In [52]:
#Set Functions

# len / min / max / sorted

s = { 3 ,1 , 2 , 4 , 5 }

len(s)      # 5

min(s)      # 1

max(s)      # 5

sorted(s , reverse = True)   # [1, 2, 3, 4, 5] , [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [60]:

# union / update

s1 = { "AMZN" , "MSFT" ,"APPL", "BTC"}
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

s1.union(s2)    # {'AMZN', 'APPL', 'GOGL', 'MSFT', 'TSLA'}

#if you want to change it permanently 
#if no outputcomes then it changes permanently
# s1.update(s2)
s2.update(s1)

print(s1)       # {'TSLA', 'GOGL', 'MSFT', 'AMZN', 'APPL'}
print(s2)       # {'TSLA', 'AMZN', 'GOGL', 'MSFT', 'APPL'}

{'AMZN', 'MSFT', 'APPL', 'BTC'}
{'TSLA', 'GOGL', 'MSFT', 'AMZN', 'APPL', 'BTC'}

In [64]:

# intersection / intersection_update

s1 = { "AMZN" , "MSFT" ,"APPL", "BTC"}
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

# intersection 
s1.intersection(s2)    # {'AMZN', 'APPL', 'MSFT'}
s2.intersection(s1)    # {'AMZN', 'APPL', 'MSFT'}

# intersection_update
#if want to change changes permanently 

s1.intersection_update(s2) # {'AMZN', 'APPL', 'MSFT'}
s1

{'AMZN', 'APPL', 'MSFT'}

In [77]:

# difference / difference_update

s1 = { "AMZN" , "MSFT" ,"APPL", "BTC"}
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

# difference

#s1.difference(s2)  # {'AMZN', 'APPL', 'MSFT'}
#s1

#s2.difference(s1)   # {'GOGL', 'TSLA'}
#s2

# difference_update

#s2.difference_update(s1) # {'GOGL', 'TSLA'}
#s2

s1.difference_update(s2)   #{'BTC'}
s1

{'GOGL', 'TSLA'}

In [86]:

# symmetric_difference / symmetric_difference_update

s1 = { "AMZN" , "MSFT" ,"APPL", "BTC"}
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

# symentric_difference

s1.symmetric_difference(s2)  # {'BTC', 'GOGL', 'TSLA'}

s2.symmetric_difference(s1)  # {'BTC', 'GOGL', 'TSLA'}

# symmetric_difference_update

#s1. symmetric_difference_update(s2) # {'BTC', 'GOGL', 'TSLA'}
#s1

s2.symmetric_difference_update(s1) # {'BTC', 'GOGL', 'TSLA'}
s2

{'BTC', 'GOGL', 'TSLA'}

In [99]:

# Boolean Functions

# isdisjoint / issubset / issuperset

s1 = { "AMZN" , "MSFT" ,"APPL" , "BTC"}
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

# isdisjoint
s1.isdisjoint(s2)  # False

s2.isdisjoint(s1)  # False

# issubset
s1.issubset(s2)  #False if "BTC removed then true"
s2.issubset(s1)  #False

# issuperset

s1.issuperset(s2)  # False
s2.issuperset(s1)  #False if "BTC removed then true"

True

In [102]:

# copy

s1 = { "AMZN" , "MSFT" ,"APPL" , "BTC"}
s2 = { "AMZN" , "MSFT" ,"APPL" , "TSLA" , "GOGL" }

s3 = s1.copy()

print(id(s1))
print(id(s3))

2598751288032
2598751286464

In [103]:

# Frozenset

# frozenset is just an immutable version of a python set object

# create frozen set
fs1 = frozenset([1 , 2 , 3 ])
fs2 = frozenset([3 , 4 , 5 ])

fs1 | fs2

# note : there is no update function in frozen set
# use: intersection_update / update / difference_update

frozenset({1, 2, 3, 4, 5})

In [106]:
# set comprehension

#example
{i ** 2 for i in range(1 , 11) } # {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

{i ** 2 for i in range(1 , 11) if i > 5 }

{36, 49, 64, 81, 100}