In [ ]:

# What is Dictionary ?

# Dictionary in python is a collection of keys values used to store
#   data values like a map

# Which unlike other data types which hold only a single values as an element

# In some languages it is known as map or assosiative array

#     variable                       Keys      Value
#       |                              |         |
# stock_prices = {"AAPL" : 145.90 , "GOOGL" : 2133.54 , "TSLA" : 299.0 }
#                      |                  |                  |
#                    1 pair             2 pair             3 pair

# Characteristics

# * Mutable
# * Indexing can't be no meaning
# * Keys can't be duplicated
# * Keys can't be mutable items

# for instance 

# in list , tuples , sets                  in Dictionary we hold
# we hold value [1 , 2 , 3 ]               value in { key : value }

# we represent a dictionary using {} - Curly braces
# in              sets also using {} - Curly braces

# But in sets we can hold single values , and in Dictionary we hold multiple value

In [14]:

# Dictionary

# empty dictionary
d = {"key" : "value"}

type(d)           # dict


# 1D Dictionary

stock_prices = {"AAPL" : 145.90 , "GOOGL" : 2133.54 , "TSLA" : 299.0 }

stock_prices

# With mixed keys

d2 = {( 1 , 2 , 3 ) : 1 , "hello" : "world" }
d2

# 2D Dictionary  - >  Json

stock_data = {
   "AAPL" : {
        "price" : 145.87 ,
        "volume" : 3211.00,
    },
    "GOOGL" :{
        "price" : 2345.87 ,
        "volume" : 311.00,
    },
     "TSLA" :{
         "price" : 675.87 ,
         "volume" : 303.50,
     }
}


stock_data


# using sequence and dict function

#dict()
d4 = dict({('stock' , 'AAPL') , ('price' , 678.89) , ( 3 , 3 )})

d4   # {'stock': 'AAPL', 'price': 678.89, 3: 3}


# duplicate keys - > takes last value

d5 = { 'name' : 'bhavik' , 'name': 'damania' }
d5    # {'name': 'damania'} 


# mutable items as keys
d6 = { 'name' : 'bhavik' , tuple([1 , 2 , 3 ]): 2 }
d6

{'name': 'bhavik', (1, 2, 3): 2}

In [17]:

# Accesing items

# []
# get

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }
print(stock_data["AAPL"])     # acessing the price of AAPL

145.09

In [19]:

# Adding Key-value pair

stock_data["MSFT"] = 299.35
print(stock_data)

{'AAPL': 145.09, 'GOOGL': 2731.23, 'TSLA': 876.38, 'MSFT': 299.35}

In [23]:

# Remove key_value pair

#pop()

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

stock_data.pop("TSLA")  # remove tsla from the dictionary

print(stock_data)       # {'AAPL': 145.09, 'GOOGL': 2731.23}

{'AAPL': 145.09, 'GOOGL': 2731.23}

In [24]:

#popitem() -> Randomly removes any keyvalue pairs

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

stock_data.popitem()

('TSLA', 876.38)

In [26]:

# del

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

del(stock_data)

stock_data

NameError: name 'stock_data' is not defined

In [29]:

# clear()

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

stock_data.clear()

stock_data

{}

In [45]:

# How to edit key value pair from a Dictionary ?

# if you want to update any key value

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

# Editing key-value pair

stock_data["AAPL"] = 150.00

stock_data           # updating the prie of AAPL


# Dictionary Opeartions

# *Membership

# print( "AAPL" in stock_data )    # True

# if spelling is incorrect
# print( "AAAPL" in stock_data )   # False



# *Iteration

for i in stock_data.items():      # ('AAPL', 150.0),('GOOGL', 2731.23),('TSLA', 876.38)
    print(i)


# for i in stock_data.values():   # 150.0 , 2731.23 , 876.38
#     print(i)    

# for i in stock_data.keys():  # AAPL GOOGL TSLA
#    print(i)



# *get()

print(stock_data.get("AAPL","Not Found"))      # 150.0

print(stock_data.get("AAAPL","Not Found"))     # Not Found

('AAPL', 150.0)
('GOOGL', 2731.23)
('TSLA', 876.38)
150.0
Not Found

In [55]:

# Dictionary Functions

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

# len / sorted

len(stock_data)     # 3

sorted(stock_data)  # ['AAPL', 'GOOGL', 'TSLA']


# items / keys / values

stock_data.items()

stock_data.keys()

stock_data.values()


# update

# stock_data.update({"MSFT":2290.0})                    # single value update

stock_data.update({"AMZN":2121.2 , "MSFT" : 2331.44})   # multiple value update

stock_data

{'AAPL': 145.09,
 'GOOGL': 2731.23,
 'TSLA': 876.38,
 'AMZN': 2121.2,
 'MSFT': 2331.44}

In [61]:

# Dictionary Comprehension

#{ key : value for vars in iterable }

# print 1st 10 numbers and their squares

{i:i**2 for i in range( 1 , 11) }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [68]:

# using existing dict

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

stock_data = {symbol:price * 105.5 for symbol,price in stock_data.items()}

print(stock_data)   # {'AAPL': 15306.995, 'GOOGL': 288144.765, 'TSLA': 92458.09}

{'AAPL': 15306.995, 'GOOGL': 288144.765, 'TSLA': 92458.09}

In [71]:

# using zip

symbol = ["AAPL" , "GOGL" , "MSFT"]
prices = ["145.09" , "2731.32","873.3"]

stock_data = {symbol:price for symbol, price in zip(symbol , prices)}

print(stock_data)

{'AAPL': '145.09', 'GOGL': '2731.32', 'MSFT': '873.3'}

In [72]:

# using if condition

stock_data = { "AAPL" : 145.09 , "GOOGL" : 2731.23 , "TSLA" : 876.38 }

high_value_stocks = {symbol:price for symbol , price in stock_data.items() if price > 1000}

print(high_value_stocks)

{'GOOGL': 2731.23}

In [74]:

# Nested Comprehension

symbol = ["AAPL" , "GOGL"]
dates = ["2026-10-2" , "2026-10-3"]
prices = [[145.09 , 150.00] , [2731.32 , 2750.00]]

historical_prices = { symbol:{date:prices[i][j] for j , date in enumerate(dates)} for i,symbol in enumerate(symbol)}
print(historical_prices)

historical_prices = {date:prices[j] for j,date in enumerate(dates)}
print(historical_prices)

{'AAPL': {'2026-10-2': 145.09, '2026-10-3': 150.0}, 'GOGL': {'2026-10-2': 2731.32, '2026-10-3': 2750.0}}
{'2026-10-2': [145.09, 150.0], '2026-10-3': [2731.32, 2750.0]}